.ob-sync-settings {
  padding: 10px;
}

.ob-sync-settings h2 {
  margin-bottom: 15px;
}

.ob-sync-notice {
  background-color: var(--background-primary);
  border: 1px solid var(--background-modifier-border);
  border-radius: 4px;
  padding: 12px;
  margin-bottom: 8px;
}
